/* Variables */

:root {
  /* --bg-color: #f2edea; */
  --bg-color: #fbf9f9;
  --text-color: #4b4238;
  --accent-color: #b66033;
  --fade-color: rgba(0, 0, 0, 0.4);
  --link-bg: rgba(71, 118, 112, 0.25);

  --narrow-spacing: 10px;
  --normal-spacing: 10px;
  --wide-spacing: 20px;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  min-height: 100%;
  border: 10px solid var(--accent-color);
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: "Lora", serif;
  font-size: 16px;

  width: 700px;

  margin: auto;
}

code {
  font-family: "Inconsolata", monospace;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
  color: var(--accent-color);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  background-color: var(--link-bg);
}

em, i {
  font-style: italic;
}

/* Blog Header */

#blog-header {
  margin: 100px 0;
  text-align: center;
}

#blog-header h1 {
  font-size: 4em;
  margin-bottom: var(--normal-spacing);
}

#blog-header h1 a {
  color: inherit;
}

/* Blog Footer */

#blog-footer {
  color: var(--fade-color);
  padding-bottom: var(--wide-spacing);
  line-height: 1.5;
}

/* Main */

main {
  margin-bottom: var(--wide-spacing);
  line-height: 1.5;
}

main header {
  margin-bottom: var(--normal-spacing);
}

main header h1 {
  font-size: 2em;
}

main header time {
  display: block;
  margin-top: var(--narrow-spacing);
  font-style: italic;
}

/* Post List */

.post-list li {
  display: flex;
  align-items: baseline;
}

.post-list time {
  flex: 0 0 150px;
  order: 1;
  align-self: center;
  font-style: italic;
  margin-left: 10px;
}

.post-list a {
  font-size: 1.2em;
  order: 2;
}

/* Article */

article > * {
  margin-bottom: var(--normal-spacing);
}

article h2,
article h3 {
  margin-top: var(--wide-spacing);
}

article h2 {
  font-size: 1.5em;
}

article h3 {
  font-size: 1.2em;
}

article ul,
article ol {
  list-style-position: outside;
  margin-left: 40px;
}

article ul {
  list-style-type: disc;
}

article ol {
  list-style-type: decimal;
}

article ul li,
article ol li {
  margin-bottom: var(--narrow-spacing);
  padding-left: 10px;
}

article ul li:last-child,
article ol li:last-child {
  margin-bottom: 0;
}

article ul ul {
  margin-top: var(--narrow-spacing);
}

article blockquote {
  margin-left: 30px;
  padding: 5px;
  padding-left: 10px;
  border-left: 5px solid var(--accent-color);
}

article figure {
  margin: var(--wide-spacing);
  text-align: center;
}

article img {
  max-width: 100%;
  height: auto;
  align-self: center;
  padding: var(--wide-spacing);
}

article figcaption {
  text-align: left;
  padding: 10px;
  border: 1px solid var(--accent-color);
}

article code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1px 5px;
  border-radius: 5px;
}

article .center {
  text-align: center;
}

article .distribute {
  width: 100%;
}

article > p img {
  display: block;
  margin: auto;
}

article .distribute p {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: calc(0px - var(--normal-spacing));
}

article .distribute p > * {
  margin-bottom: var(--normal-spacing);
}

/* Responsive */

@media(max-width: 800px) {
  body {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  #blog-header h1 {
    font-size: 3em;
  }

  .post-list li {
    display: block;
  }

  .post-list time {
    margin-left: 0;
  }

  .post-list a {
    display: block;
    margin-bottom: var(--narrow-spacing);
  }
}

@media(max-width: 400px) {
  #blog-header h1 {
    font-size: 2.5em;
  }
}
