/* Variables */

:root {
  --bg-color: #ffffff;
  --text-color: #4b4238;
  --accent-color: #b66033;
  --fade-color: rgba(0, 0, 0, 0.4);

  --link-fg: rgba(71, 118, 112, 1);
  --link-bg: rgba(71, 118, 112, 0.1);

  --narrow-spacing: 10px;
  --normal-spacing: 10px;
  --wide-spacing: 30px;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  border-top: 10px solid var(--accent-color);
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;

  width: 750px;
  min-height: calc(100vh - 10px);
  margin: auto;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: "Lora", serif;
  font-size: 18px;
}

code {
  font-family: "Inconsolata", monospace;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: var(--accent-color);
}

a {
  color: var(--link-fg);
  text-decoration: underline;
}

a:hover {
  background-color: var(--link-bg);
}

em, i {
  font-style: italic;
}

/* Blog Header */

@keyframes rotate-loop {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#blog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  margin: 150px auto;
  width: 500px;
  height: 500px;

  text-align: center;
}

  #blog-header::before {
    content: "";
    border: 3px dashed var(--link-fg);
    border-radius: 50%;
    position: absolute;
    left: 1%;
    right: 1%;
    width: 98%;
    height: 98%;
    animation: rotate-loop 60s linear infinite;
    z-index: -1;
  }

  #blog-header::after {
    content: "";
    border: 3px dotted var(--accent-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: rotate-loop 120s linear reverse infinite;
    z-index: -1;
  }

#blog-header h1 {
  font-size: 3.5em;
  margin-bottom: var(--wide-spacing);
}

#blog-header p {
  font-style: italic;
}

#blog-header h1 a {
  color: inherit;
}

/* Blog Footer */

#blog-footer {
  border-top: 1px dashed var(--fade-color);
  margin-top: auto;
  padding: 20px;
  line-height: 1.5;
}

/* Main */

main {
  line-height: 1.5;
}

main header {
  margin-bottom: var(--wide-spacing);
  text-align: center;
}

main header h1 {
  font-size: 1.75em;
}

main header time {
  display: block;
  font-style: italic;
}

/* Post List */

.post-list li {
  display: flex;
  align-items: baseline;
}

.post-list li:last-child {
  margin-bottom: var(--wide-spacing);
}

.post-list time {
  flex: 0 0 175px;
  order: 1;
  align-self: center;

  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

.post-list a {
  font-size: 1.2em;
  order: 2;
}

/* Article */

article {
  text-align: justify;
}

article > * {
  margin-bottom: var(--normal-spacing);
}

article h2,
article h3 {
  margin-top: var(--wide-spacing);
}

article h2 {
  font-size: 1.5em;
}

article h3 {
  font-size: 1.2em;
}

article ul,
article ol {
  list-style-position: outside;
  margin-left: 40px;
}

article ul {
  list-style-type: disc;
}

article ol {
  list-style-type: decimal;
}

article ul li,
article ol li {
  margin-bottom: var(--narrow-spacing);
  padding-left: 10px;
}

article ul li:last-child,
article ol li:last-child {
  margin-bottom: 0;
}

article ul ul {
  margin-top: var(--narrow-spacing);
}

article blockquote {
  margin-left: 30px;
  padding: 5px;
  padding-left: 10px;
  border-left: 5px solid var(--accent-color);
}

article figure {
  margin: var(--wide-spacing);
  text-align: center;
}

article img {
  max-width: 100%;
  height: auto;
  align-self: center;
  padding: var(--wide-spacing);
}

article figcaption {
  text-align: left;
  padding: 10px;
  border: 1px solid var(--accent-color);
}

article code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1px 5px;
  border-radius: 5px;
}

article .center {
  text-align: center;
}

article .distribute {
  width: 100%;
}

article > p img {
  display: block;
  margin: auto;
}

article .distribute p {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: calc(0px - var(--normal-spacing));
}

article .distribute p > * {
  margin-bottom: var(--normal-spacing);
}

/* Responsive */

@media(max-width: 800px) {
  body {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  #blog-header {
    width: 400px;
    height: 400px;
  }

  #blog-header h1 {
    font-size: 2.5em;
  }

  .post-list li {
    display: block;
    margin-bottom: var(--wide-spacing);
  }

  .post-list time {
    margin-left: 0;
  }

  .post-list a {
    display: block;
  }
}

@media(max-width: 600px) {
  #blog-header {
    width: 250px;
    height: 250px;
  }

  #blog-header h1 {
    font-size: 2em;
    margin-bottom: var(--normal-spacing);
  }
}
