<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    $if(post)$
      <base href="$url$/">
    $endif$

    <title>
      $title$ | JITCompiled
    </title>

    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/main.css" />

    <!-- Favicon, courtesy of https://favicon.io/favicon-generator/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <header id="blog-header">
      <h1>
        <a href="/">
          JITCompiled</a>
      </h1>
      <p>
        A blog by
          <a href="https://jlubin.net">
            Justin Lubin</a>.
      </p>
    </header>

    <main>
      $if(post)$
        <article>
      $endif$

      <header>
        <h1>
          $if(fancyTitle)$
            $fancyTitle$
          $else$
            $title$
          $endif$
        </h1>
        $if(date)$
          <time>$date$</time>
        $endif$
      </header>
      $body$

      $if(post)$
        </article>
      $endif$
    </main>

    <footer id="blog-footer">
      Copyright &copy; 2020 Justin Lubin.
      $if(post)$
        Return to
        <a href="/">
          all posts</a>.
      $endif$
    </footer>
</html>
